
*{
    font-family: monospace ;
    margin: 0px;
    padding: 0;
}

/*Navigation*/
nav{
    background-color: darkgray;
    height:33px;
    width: 100%;
    font-size:x-large ;
    overflow: hidden;
    min-width: 800px;
    max-width: 1400px;
}
nav div a{
    color:black;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;

}

nav div{
    float: right;
    margin-right: 20px;
    margin-top:10px;
    padding:10px10px;
    font-size:12px;
}
nav div a:hover{
    background-color:darkgray;
    border-radius: 15px;
    color: grey;
}
nav div a:active {
    background-color: dimgray;
    border-radius: 20px;
    color: black;
}
nav div a.active{
    background-color:#04AA6D ;
    color: white;
}

/*Banner*/

#banner{
    height: 200px;
    background:  no-repeat 0; 
    color:black ;

}
#banner p{
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 50px;   
}

/*activities*/

#activities{
    
}

.container{

    margin: 20px ;
    width: 50%

}

#activities .columns{
    float: contour;
    width: 70%;
    text-align: left;
    background-color: white;
    padding: 5px;
    margin: 5px;

}

#activities .columns img{
    width: 100%;

}
#activities:hover{
    transform: scale3d;
}


/*Footer*/

footer{
    background-color: darkgrey;
    width: 100%;
    height: 35px;
    bottom: 0;
    margin:0;
    padding:0 30px;
    display:block;
   min-width: 800px;
    max-width: 1400px;


}

footer p{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
/*About us page*/

.page_banner{
    height: 40px;
    background-color: dimgrey;
}

.page_banner p{
    color: darkgrey;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 5px;
}

#our_story article{

    float: left;
    width: 60%;
    text-align: justify;
}

#sidebar{
    float: left;
    width: 30%;
    text-align: center;
    background-color: darkslategrey;
    height: 250px;
}
#sidebar p{
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-top: 80px;
    text-align: center;

}

.container .tittle{
    font-size:30px;
    position:relative;
}
.user_details .inputs input{
    height:30px;
    width:40%;
    outline:none;
    border:1px solid ;
    border-radius:5px;
    margin:5px 0 15;
}
.user_details .inputs label{
    fonts-size:25px;
    margin:25px 0;
}
#message{
    height:150px;
    width:70%;
    outline:none;
    border:1px solid ;
    border-radius: 5px;
    margin-buttom:30px;
}
#the_form{
    display: flex;
    justify-content: center;
    align-items: center;


}

.form_container{
    width: 600px;
    height:750px;
    background-color: darkgray;
    border-radius: 5px;
    margin:15px calc;
}
.btn{
    height:30px;
    background: darkslategrey;
    border-radius: 9;
    padding: 0 15px;
    text-transform: uppercase;

}
.buttons{
    margin-top: 14px;


}
.Survey{
    background-color:yellowgreen ;
}

#img{
    float: inside;
    width: 40%;
    text-align: left;
    background-color: gray;
    padding: 10px;
    margin: 5px;
    
    
    
    
}
#img .columns img{
    width: 100%;

}
.c{

    margin: 20px ;
    width: 50%

}
#img{
    padding-top: 50px;
}

